#####################################################################
#   Fan Control
#####################################################################

[heater_fan skirt]
## Skirt - FAN5 on Octopus
## Adjust if you use a different board or a different terminal.
pin: PB3
#tachometer_pin: PB4
kick_start_time: 0.5
heater: heater_bed
heater_temp: 100
max_power: 0.20
shutdown_speed: 0.0

[heater_fan mcu]
## Leviathan Bracket Mount Fans
pin: PB7
#tachometer_pin: PB8
kick_start_time: 0.5
off_below: 0.1
heater: heater_bed
heater_temp: 50
max_power: 0.30
shutdown_speed: 0.0