[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/ttyAMA0
restart_method: command
##--------------------------------------------------------------------

[skew_correction]
[exclude_object]
[firmware_retraction]
[skew_correction]
[force_move]
enable_force_move: true
[idle_timeout]
timeout: 7200

[printer]
kinematics: corexy
max_velocity: 450
max_accel: 10000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0