# This file contains common pin mappings for the LDO Voron 2.4 Rev. D kit
# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON 2.4 250/300/350mm Leviathan V1.1 + Nitehawk-SB config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section
## Trigger Backup

[include macros/*.cfg]
[include cfgs/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.6625664084817466,
#*# 	  2.0436257415969616,
#*# 	  0.8182411951692091,
#*# 	  0.22031294958103767,
#*# 	  0.061381185542850034,
#*# 	  0.2878200556756413,
#*# 	  -0.07935464949727922,
#*# 	  -0.368781979764378,
#*# 	  0.13817631763220753,
#*# 	  0.2200691503361982
#*# model_domain = 1.8894422744251458e-07,1.9377189021892924e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 62.673372
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.015719, -0.005721, -0.007327, -0.006856, -0.008432
#*# 	  -0.009005, -0.001596, 0.001270, -0.000352, -0.000337
#*# 	  -0.007313, -0.003713, -0.002547, -0.000229, -0.002437
#*# 	  -0.003921, -0.002111, -0.002814, 0.000434, 0.000867
#*# x_count = 5
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 146.821
#*# max_x = 203.179
#*# min_y = 152.025
#*# max_y = 197.975
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.991
#*# pid_ki = 3.057
#*# pid_kd = 304.194
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.863
#*# pid_ki = 6.852
#*# pid_kd = 37.042
#*#
#*# [skew_correction Calilantern]
#*# xy_skew = -0.002015257236961181
#*# xz_skew = -0.00033587575583958706
#*# yz_skew = 0.0012056175862724628
