######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position.
# After filament has been changed, the print can be resumed 
# from its previous position with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    PAUSE                ; Pause