[gcode_macro PRIMELINE]
gcode:
; Prime line
    G90                            ; absolute positioning
    G0 X2.0 Y2.0 F18000            ; go to edge of bed
    G0 Z0.4 F5000                      ; lower nozzle
    G91 E0.0                               ; reset extruder position
    G1 X150.0 E32.0 F1000.0          ; start intro line
    G1 X100.0 E14.0 F1000.0          ; finish thicker
    G92 E0.0