[gcode_macro PRIMELINE]
gcode:
; Prime line
    G90                             ; absolute positioning
    G0 X2.0 Y2.0 F18000             ; go to edge of bed
    G0 Z0.4 F5000                   ; lower nozzle
    G91 E0.0                        ; reset extruder position
    G1 X55.0 E12.0 F1000.0          ; start intro line
    G1 X90 E16.0 F1000.0            ; middle of line
    G1 X120.0 E16.0 F1000.0         ; finish thicker
    G92 E0.0                        ; set extruder to Zero