#####################################################################
#   print_start macro
#####################################################################

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("40")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  # Uncomment for Beacon Contact (1 of 4 for beacon contact)
  SET_GCODE_OFFSET Z=0                                  # Set offset to 0
  SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1
  
  # Homes the printer, sets absolute positioning and updates the Stealthburner leds.
  G28                                                   # Full home (XYZ)
  G90                                                   # Absolut position

  # Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                        # Clear old saved bed mesh (if any)

  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
    M106 S255                                           # Turns on the PT-fan

    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    M190 S{target_bed}                                  # Sets the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Displays info on display
    #TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber_Gantry" MINIMUM={target_chamber}   # Waits for chamber to reach desired temp

  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    M190 S{target_bed}                                  # Sets the target temp for the bed
    #SET_DISPLAY_TEXT MSG="Soak for 5min"               # Displays info
    #G4 P300000                                         # Waits 5 min for the bedtemp to stabilize
  {% endif %}

  # Heating nozzle to 150 degrees. This helps with getting a correct Z-home
  SET_DISPLAY_TEXT MSG="Hotend: 170c"                   # Displays info
  M109 S170                                             # Heats the nozzle to 170c

  SET_DISPLAY_TEXT MSG="Leveling"                       # Display info on display
  QUAD_GANTRY_LEVEL                                     # Level the printer via QGL
  G28 Z                                                 # Home Z again after QGL
 
  # Uncomment for bed mesh (2 of 2 for bed mesh)
  SET_DISPLAY_TEXT MSG="Bed mesh"                       # Display info on display
  BED_MESH_CALIBRATE                                    # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh

  # Uncomment for Beacon Contact (3 of 4 for beacon contact)
  G28 Z METHOD=CONTACT CALIBRATE=1                      # Calibrate z offset only with hot nozzle
  
  # Heats up the nozzle up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"     # Displays info
  G1 X2 Y2 Z5 F9000                                     # Goes to center of the bed
  M107                                                  # Turns off partcooling fan
  M109 S{target_extruder}                               # Heats the nozzle to printing temp

  # Uncomment for Beacon Contact (4 of 4 for beacon contact)
  SET_GCODE_OFFSET Z=0.065 #0.015 untested for CF        # Add a little offset for hotend thermal expansion
  SKEW_PROFILE LOAD=Calilantern                         # Loads Skew Profile

  # Gets ready to print by doing a purge line and updating the SB-leds
  SET_DISPLAY_TEXT MSG="Time to print dumb shit"        # Displays info
  PRIMELINE
  G90                                                   # Absolute position